# Dependˆncias do Node.js  
node_modules/ 
 
# Logs 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 
 
# Arquivos gerados pelo sistema operacional 
.DS_Store 
Thumbs.db 
 
# Configura‡äes de editores 
.vscode/ 
.idea/ 
*.swp 
